* {
    box-sizing: border-box;
}
body {
}

.hidden-on-desktop{
    display:none;

}

@media screen and (max-width: 576px){
    .hidden-on-desktop{
        display: flex;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        height: 5em;
        background-color: lightblue;
        text-decoration: none;
    }
}